#profile {
    z-index: 20;
    border-radius: 10px;
    position: fixed;
    top: 12px;
    right: 5px;
    height: 45px;
    width: fit-content;
    background-color: #2D2A32;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 150px;
}

#profile:active {
    background-color: #D9D9D9;
    transition: transform 0.2s ease,background-color 0.2s ease,color 0.2s ease;
    transform: translate(4px,4px);
    color: #2D2A32;
}

#profile > #picture {
    margin: 10px;
    height: 29px;
    width: 29px;
    background-color: #D9D9D9;
    border-radius: 100%;
}

#profile > #name {
    margin: 10px 10px 10px 0px;
    color: #D9D9D9;
    font-size: 12px;
}