* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #45C5D7;
    overflow: hidden;
}
 