nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 10%;
    background-color: #2D2A32;
}

.navIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
}

i {
    color:#45C5D7;
    font-size: 30px;
}