
@keyframes slideTop {
    0% {
        transform: translate(-100vw,-50%);
    }
    100% {
        transform: translate(-50%,-50%);
    }
}

@keyframes slideInFromRight {
    0% {
        right: -100vw;
    }
    100% {
        right: 0px;
    }
}

#vector {
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: ease-in; /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideInFromRight; /* the name of the animation we defined above */
}

form {
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: ease-out; /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideTop; /* the name of the animation we defined above */
}
